<!DOCTYPE html>
<html lang="fr">
<head th:replace="mesFragments :: fragHead">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="vh-100">
    <nav th:replace="mesFragments :: fragNav"></nav>
    <main class="container">
        <h1  th:text="'Nom: '+${typeaccessoire.nom}"></h1>
        <ul>
            <li th:text="'Nom : '+ ${typeaccessoire.nom}"></li>
            <li th:text="'Type bonus : '+${typeaccessoire.typebonus}"></li>
        </ul>
    </main>
</div>
<footer th:replace="mesFragments :: fragFooter"></footer>
</body>
</html>